* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(eduford_img/img_1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-times,
nav .fa-bars {
    display: none;
}

#content-desktop {
    display: none;
}

#content-mobile {
    display: block;
}


/*--------course-------*/

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}


/*-------campus------*/

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer-1 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-2 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-3 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-4 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-5 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-6 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-1:hover {
    background: rgba(185, 226, 0, 0.7);
}

.layer-2:hover {
    background: rgba(0, 128, 122, 0.7);
}

.layer-3:hover {
    background: rgba(81, 0, 128, 0.7);
}

.layer-4:hover {
    background: rgba(226, 0, 215, 0.7);
}

.layer-5:hover {
    background: rgba(185, 226, 0, 0.7);
}

.layer-6:hover {
    background: rgba(0, 124, 226, 0.7);
}

.layer-1 h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-1:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.layer-2 h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-2:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.layer-3 h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-3:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.layer-4 h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-4:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.layer-5 h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-5:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.layer-6 h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-6:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.row_3 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    box-sizing: border-box;
}


/*-------facilities-----*/

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/*--------testimonial-------*/

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa-star,
.testimonial-col .fa-star-half-alt {
    color: red;
}


/*------cta------*/

.cta {
    margin-right: 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(eduford_img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0px;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


/*----footer------*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(eduford_img/safe.png);
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    border-radius: 10px;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}

.footer p {
    color: #fff;
}

.icons .fa {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-facebook {
    color: blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-twitter {
    color: rgb(19, 168, 226);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-instagram {
    color: crimson;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-linkedin {
    color: darkblue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

p .fa-grin-hearts {
    color: red;
}

p .fa-copyright {
    color: royalblue;
}


/*-----------about us page------------*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(eduford_img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: black;
}

.red-btn:hover {
    color: white;
}


/*------blog page------*/

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin-bottom: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}


/*---------contactus page----*/

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contactus {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

div .fa-home {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

div .fa-phone-volume {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

div .fa-envelope {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}


/*----------Library Page-------------*/

.dub-header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(eduford_img/lib.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a_button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.a_button:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.content {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: left;
}

.h1 {
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.small {
    text-align: left;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 30px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
    width: 20px;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}

.blog-right1 {
    flex-basis: 32%;
}

.blog-right1 h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.blog-right1 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 60px;
    font-weight: 500;
}

.news {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 80%;
    justify-content: space-around;
}

.about-col h1 {
    padding: 0;
}

.about-col p {
    padding: 15px 0 25px;
}


/*----------REG. Form-------*/

.containerr {
    width: 100%;
    height: 100vh;
    background: rgb(187, 187, 254);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    height: 550px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

.inner_box {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 100, 0.562), rgba(0, 0, 100, 0.8)), url(./background.png);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}

::placeholder {
    color: #fff;
    font-size: 12px;
}

.submit-btn,
.btn {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.submit-btn {
    position: relative;
}

.submit-btn::after {
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}

span {
    font-size: 13px;
    margin-left: 10px;
}

.card .btn {
    margin-top: 70px;
}

.card a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}

.head {
    text-align: center;
}


/*---------media-------*/

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-times,
    nav .fa-bars {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
    .nav-links ul {
        padding: 40px;
    }
    .row {
        flex-direction: column;
    }
    .testimonial-col img {
        margin-left: 0;
        margin-right: 15px;
    }
    .cta h1 {
        font-size: 24px;
    }
    .sub-header h1 {
        font-size: 24px;
    }
    .a_button {
        width: 100%;
        padding: 10px 12px;
    }
}